@mixin imageSizeSmall{
  background-size: 310px;
  width: 400px;
  height: 400px;
}

@mixin imageSizeLarge{
  background-size: 180px;
  width: 400px;
  height: 400px;
}

/* Work section */


#work {
  display: grid;
  margin: 40px;
  column-gap: 20px;
  row-gap: 40px;
  //grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas: 
  "section-title weatherDashboard portfolio"
  "section-title gazetteer companyDirectory"
  "section-title quizProject workDayPlanner";
}

#weatherDashboard {
  grid-area: weatherDashboard;
  background-image: url("../images/projects/weather-dashboard.png");
  @include imageSizeSmall();

}

#portfolio{
  display: grid;
  grid-area: portfolio;
  background-image: url("../images/projects/portfolio-bootstrap.png");
  @include imageSizeSmall();
 
}

#gazetteer {
  grid-area: gazetteer;
  background-image: url("../images/projects/gazetteer.png");
  @include imageSizeLarge();

}

#companyDirectory {
  grid-area: companyDirectory;
  background-image: url("../images/projects/Company_director.png");
  @include imageSizeLarge();
  
}

#quizProject {
  grid-area: quizProject;
  background-image: url("../images/projects/08-web-apis-challenge-demo.gif");
  @include imageSizeSmall();
}

#workDayPlanner {
  grid-area: workDayPlanner;
  background-image: url("../images/projects/work-day-planner.png");
  @include imageSizeSmall();
}



.projectGridArea {
  background-position: center;
  background-color:rgba(98, 92, 92, 0.124) ;
  background-repeat: no-repeat;
  margin: 15px;
  cursor: pointer;
  display: grid;
  align-content: end;
  overflow: hidden;
  border: solid  1px;
  //padding-left: 20px;
}

.projectGridArea a:hover {
  text-decoration: none;
  cursor:pointer; 
  color: rgb(36, 225, 62);
}

.projectGridArea:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(181, 173, 173, 0.8);
} 

.heading {
  //position: absolute;
  background: rgba(27, 118, 245, 0.7);
  padding: 10px 40px;
  margin-left: 300px;
  display: grid;
  

  a {
    text-decoration: none;
    color:rgb(167, 246, 167);
    font-size: 25px;
    cursor: pointer;
  }

  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
}



