/* Work section */
#work {
  display: grid;
  margin: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-areas: "section-title weatherDashboard portfolio" "section-title gazetteer companyDirectory" "section-title quizProject workDayPlanner";
}

#weatherDashboard {
  grid-area: weatherDashboard;
  background-image: url("../images/projects/weather-dashboard.png");
  background-size: 310px;
  width: 400px;
  height: 400px;
}

#portfolio {
  display: grid;
  grid-area: portfolio;
  background-image: url("../images/projects/portfolio-bootstrap.png");
  background-size: 310px;
  width: 400px;
  height: 400px;
}

#gazetteer {
  grid-area: gazetteer;
  background-image: url("../images/projects/gazetteer.png");
  background-size: 180px;
  width: 400px;
  height: 400px;
}

#companyDirectory {
  grid-area: companyDirectory;
  background-image: url("../images/projects/Company_director.png");
  background-size: 180px;
  width: 400px;
  height: 400px;
}

#quizProject {
  grid-area: quizProject;
  background-image: url("../images/projects/08-web-apis-challenge-demo.gif");
  background-size: 310px;
  width: 400px;
  height: 400px;
}

#workDayPlanner {
  grid-area: workDayPlanner;
  background-image: url("../images/projects/work-day-planner.png");
  background-size: 310px;
  width: 400px;
  height: 400px;
}

.projectGridArea {
  background-position: center;
  background-color: rgba(98, 92, 92, 0.124);
  background-repeat: no-repeat;
  margin: 15px;
  cursor: pointer;
  display: grid;
  align-content: end;
  overflow: hidden;
  border: solid 1px;
}

.projectGridArea a:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(36, 225, 62);
}

.projectGridArea:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(181, 173, 173, 0.8);
}

.heading {
  background: rgba(27, 118, 245, 0.7);
  padding: 10px 40px;
  margin-left: 300px;
  display: grid;
}
.heading a {
  text-decoration: none;
  color: rgb(167, 246, 167);
  font-size: 25px;
  cursor: pointer;
}
.heading p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* hero-banner section */
.hero-grid {
  margin: 0 5%;
  display: flex;
  min-height: 500px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero-banner.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.headline {
  position: absolute;
  bottom: 100px;
  padding: 15px;
  max-width: 550px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* header and navigation bar  */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 5%;
  margin-bottom: 20px;
  background-color: white;
}
#nav h1 {
  width: 60%;
  font-weight: 500;
  font-size: 40px;
  color: rgba(0, 128, 0, 0.951);
  padding-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
#nav .center {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
  /* justify-items: flex-end; */
  padding-left: 20px;
}
#nav .center a {
  cursor: pointer;
}
#nav .center .nav-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: green;
  padding-top: 10px;
}

/* About me section  */
#about {
  margin: 5% 5%;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#about .text {
  padding-left: 85px;
  line-height: 1.8;
  margin-left: 50px;
  font-size: 20px;
}

/* Contact Me Section */
#contact {
  display: flex;
  align-items: center;
  margin: 0px 5%;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;
}

.contact-items li {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
}

/* media query section */
@media only screen and (max-width: 1000px) {
  .center {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #nav h1 {
    font-size: 28px;
    text-align: center;
    width: 100%;
  }
  #work {
    grid-template-rows: 50px 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "section-title" "meditationClub" "horiseon" "cakeShop" "preworkStudyGuide" "buildingSolutions";
  }
  .heading {
    padding: 10px;
    margin-left: 200px;
  }
  .text {
    padding-left: 85px;
    line-height: 1.2;
    margin-left: 50px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */